<div class="registerForm">
<form action="/generate" method="post" style="width:90%">
    <div class="Form-element">
        <!-- <label for="task">Random Number Generator</label> -->
        <h3>Random Number Generator</h3>
        <input type="textarea" name="count"  id="count" placeholder="Enter Number of Entries , You wanna generate" required>
    </div>
</form>
</div>