<form action="/generate" method="post">
    <div class="Form-element">
        <label for="task">Random Number Generator</label><br>
        <input type="textarea" name="count"  id="count" placeholder="Enter Number of Entries , You wanna generate" required>
    </div>
</form>