<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                    Phone Number Generator
                </a>
            </p>
        </div>
    
        <div class="links">
            <ul>
                <li>
                    <a href="/phonebook">Phone Directory</a>
                </li>
                <li>
                    <a href="/">Generator</a>
                </li>
            </ul>
        </div>
    </nav>
 


</header>