
<header id="layout-header" class="header-layout">
    <nav class="header-navbar">
        <div class="mini-logo">
            <span>
                <a href='/'>
                    Phone Number Generator
                </a>
            </span>
        </div>
        <div class="links">
            <ul>
                <li>
                    <a href="/phonebook">Phone Directory</a>
                </li>
                <li>
                    <a href="/">Generator</a>
                </li>
            </ul>
        </div>
    </nav>
 


</header>