
<% if (phone_list.length > 0 ) { %>
 <table class="center" cellspacing="2">
    <thead>
        <th>
            name
        </th>
        <th>
            phone
        </th>
    </thead>
<% } %>
<tbody>
        <% for (let i of phone_list) { %>
            
                <tr>
                    <td>
                        <%= i.name %>
                    </td>
                    <td>
                        <%= i.phone %>
                    </td>
                </tr>
            <% } %>
</tbody>
</table>