<!DOCTYPE html>
    <html>
      <head>
        <title>
            <%= locals.title%>
        </title>
        <link rel="stylesheet" href="/css/home.css">
      </head>
      <body>
        <%- include('_header') %>
        <div>
            <%- include('_form') %>
        </div>
        <div class="loader">

        </div>

        <div>
          <%- include('_list') %>
        </div>
      </body>
    </html>
  